* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Mali', cursive;
}

body {
    background-color:rgb(255, 255, 255) ;  
}

h1 {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 48px; margin: 0px;
    color: rgb(38, 28, 128);
    font-style: bold;
}

header h2 {
    font-family: 'Mali', cursive;
    font-size: 18px; margin: 0px; 
    color: rgb(151, 8, 8);
    font-style: normal;
}

dialog { 
    width: 150px;
    padding: 50px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px auto;
    top : 80% ;
}

div[class="index"]{
    background-color: rgb(166, 179, 210) ;
    width: 550px;
    padding: 25px;
    border: 5px solid navy;
    margin: auto ;
}

footer p {
    list-style: none; 
    clear: center ; background-color: rgb(26, 12, 104);
    height: 25px;
} 